[package]
name = "conf"
version = "0.1.0"
edition = "2024"

[lib]
test = true
doctest = false
bench = false

[dependencies]
embedded-storage = "0.3.1"
serde = { version = "1.0", default-features=false, features=["derive"] }
serde-json-core = "0.6.0"
